<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>传感器数据</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!--axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/dateformat.js"></script>
    <script src="../js/echarts.min.js"></script>
    <style>
        /*container*/
        .el-header, .el-footer {
            background-color: #B3C0D1;
            color: #333;
            text-align: center;
            line-height: 60px;
        }

        .el-aside {
            background-color: #E9EEF3;
            color: #333;
            text-align: center;
            line-height: 200px;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            /*line-height: 160px;*/
        }

        body > .el-container {
            margin-bottom: 40px;
        }

        .el-container:nth-child(5) .el-aside,
        .el-container:nth-child(6) .el-aside {
            line-height: 260px;
        }

        .el-container:nth-child(7) .el-aside {
            line-height: 320px;
        }

        /**/
        .el-carousel__item h3 {
            color: #475669;
            font-size: 14px;
            opacity: 0.75;
            line-height: 150px;
            margin: 0;
        }

        .el-carousel__item:nth-child(2n) {
            background-color: #99a9bf;
        }

        .el-carousel__item:nth-child(2n+1) {
            background-color: #d3dce6;
        }

        /**/
        .el-row {
            margin-bottom: 20px;

        &
        :last-child {
            margin-bottom: 0;
        }

        }
        .el-col {
            border-radius: 4px;
        }

        .bg-purple-dark {
            background: #99a9bf;
        }

        .bg-purple {
            background: #d3dce6;
        }

        .bg-purple-light {
            background: #e5e9f2;
        }

        .grid-content {
            border-radius: 4px;
            min-height: 100px;
        }

        .row-bg {
            padding: 10px 0;
            background-color: #f9fafc;
        }
    </style>
</head>
<body style="margin: 0">
<div id="app">
    <el-container>
        <el-header style="padding-left: 0;padding-right: 0;">
            <el-menu :default-active="activeIndex"
                     class="el-menu-demo"
                     mode="horizontal"
                     @select="handleSelect"
                     background-color="#545c64"
                     text-color="#fff"
                     text-align="center"
                     active-text-color="#ffd04b"
                     style="width:100%;">
                <el-menu-item index="1" onclick="javascript:location.href='../index.html'">首页</el-menu-item>
                <el-menu-item index="2">自定义</el-menu-item>
                <el-menu-item index="3" disabled>消息中心</el-menu-item>
                <el-menu-item index="4"><a href="https://www.ele.me" target="_blank">订单管理</a></el-menu-item>
                <el-submenu index="5">
                    <template slot="title">{{loginUserInfo}}</template>
                    <el-menu-item index="2-1" onclick="javascript:location.href='./basicInformation.html'">个人信息
                    </el-menu-item>
                    <el-menu-item index="2-2" onclick="javascript:location.href='./changePassword.html'">修改密码
                    </el-menu-item>
                    <el-menu-item index="2-3" v-on:click="exit">退出登录</el-menu-item>
                </el-submenu>
            </el-menu>
        </el-header>
        <el-container>
            <el-aside width="10%"></el-aside>
            <el-main>
                <el-alert title="查询传感器数据并绘制曲线图"
                          type="info"
                          center
                          show-icon>
                </el-alert>
                <el-divider></el-divider>
                <el-tabs v-model="activeName" @tab-click="handleClickTab">
                    <el-tab-pane label="查询所有数据" name="first">
                        <el-row :gutter="0">
                            <el-col :offset="8" :span="4">
                                <el-input v-model="sensorId" placeholder="请输入传感器编号">
                                    <template slot="prepend">传感器编号</template>
                                </el-input>
                            </el-col>
                            <el-col :offset="0" :span="4">
                                <el-button type="success" round @click="findSensorWithDatas(sensorId, false)">查询传感器数据
                                </el-button>
                            </el-col>
                        </el-row>
                    </el-tab-pane>
                    <el-tab-pane label="按照时间段查询" name="second">
                        <el-row :gutter="0">
                            <el-col :offset="5" :span="4">
                                <el-input v-model="sensorId" placeholder="请输入传感器编号">
                                    <template slot="prepend">传感器编号</template>
                                </el-input>
                            </el-col>
                            <el-col :offset="0" :span="7">
                                <el-date-picker
                                        v-model="dateTime"
                                        type="datetimerange"
                                        start-placeholder="开始日期"
                                        end-placeholder="结束日期"
                                        :default-time="['00:00:00']">
                                </el-date-picker>
                            </el-col>
                            <el-col :offset="0" :span="3">
                                <el-button type="success" round @click="findSensorWithDatas(sensorId, true)">查询传感器数据
                                </el-button>
                            </el-col>
                        </el-row>
                    </el-tab-pane>
                </el-tabs>
                <el-divider></el-divider>

                <el-table :data="tableData" border style="width: 100%">
                    <el-table-column prop="id" label="编号" width="120"></el-table-column>
                    <el-table-column prop="description" label="详细信息" width="120"></el-table-column>
                    <el-table-column prop="location" label="位置" width="180"></el-table-column>
                    <el-table-column prop="factory" label="生产商" width="120"></el-table-column>
                    <el-table-column prop="install_time" label="安装日期" width="120"></el-table-column>
                    <el-table-column prop="produce_date" label="生产日期" width="120"></el-table-column>
                    <el-table-column prop="maintenance_time" label="保修日期" width="120"></el-table-column>
                    <el-table-column prop="classify_id" label="传感器类别编号" width="120"></el-table-column>
                    <el-table-column prop="gate_id" label="所属网关编号" width="120"></el-table-column>
                    <el-table-column label="操作" width="120">
                        <template slot-scope="scope">
                            <el-button @click="handleClick(scope.row)" type="info" size="small">查看</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <el-divider></el-divider>

                <el-container>
                    <el-aside style="line-height: 60px" width="33%">
                        <el-table :data="datasTable.slice((currentPage-1)*pageSize, currentPage*pageSize)" border>
                            <el-table-column prop="id" label="编号" width="120"></el-table-column>
                            <el-table-column prop="data" label="数据值" width="120"></el-table-column>
                            <el-table-column prop="time" label="时间" width="180"></el-table-column>
                        </el-table>
                        <el-pagination background
                                       @size-change="handleSizeChange"
                                       @current-change="handleCurrentChange"
                                       :current-page.sync="currentPage"
                                       :page-size="pageSize"
                                       layout="total, prev, pager, next"
                                       :total="total">
                        </el-pagination>
                    </el-aside>
                    <el-main>
                        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                        <div id="container"
                             style="margin-left:80px;height:400px;width: 800px;background-color: ghostwhite"></div>
                    </el-main>
                </el-container>

            </el-main>
            <el-aside width="10%"></el-aside>
        </el-container>
        <el-footer>© 2019-2020 . Powered by CUG |
            <el-link type="primary" href="/api/address" :underline="false">服务器状态</el-link>
            |
            <el-link type="primary" href="/api/home" :underline="false">测试API</el-link>
        </el-footer>
    </el-container>
</div>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            activeIndex: '1',
            url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
            loginUserInfo: '游客',
            //
            sensorId: 1,
            tableData: [],
            datasTable: [],
            //
            activeName: 'first',
            dateTime: '',
            //
            currentPage: 1,
            total: null,
            pageSize: 8,
        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            exit() {
                var that = this;
                axios.get("/api/user/exit").then(function (response) {
                    var result = response.data;
                    if (result.status) {
                        that.$message({type: 'success', message: '已退出登录'});
                        location.href = '/html/login.html';
                    } else {
                        that.$message({type: 'warning', message: '您尚未登录'});
                    }
                });
            },
            getLoginUser() {
                var that = this;
                axios.get("/api/user/info").then(function (response) {
                    var result = response.data;
                    if (result.status) {
                        var data = result.data;
                        that.loginUserInfo = data.nickname == null ? data.username : data.nickname;
                    }
                });
            },
            handleClick(row) {
                console.log(row);
            },
            handleClickTab(tab, event) {
                console.log(tab, event);
            },
            //
            findSensorWithDatas(sensorId, withTime) {
                var that = this;
                axios.get("/api/sensor/" + sensorId).then(function (response) {
                    var result = response.data;
                    if (result.status) {
                        var data = result.data;
                        that.tableData.splice(0, 1, data);
                    } else {
                        that.tableData = [];
                        that.$message({type: 'warning', message: response.data.message});
                    }
                });

                var datetime1, datetime2;
                if (withTime) {
                    if (that.dateTime == undefined || that.dateTime[0] == undefined || that.dateTime[1] == undefined) {
                        that.$message({type: 'warning', message: '请输入时间范围'});
                        return;
                    } else {
                        datetime1 = that.dateTime[0].Format("yyyy-MM-dd hh:mm:ss");
                        datetime2 = that.dateTime[1].Format("yyyy-MM-dd hh:mm:ss");
                    }
                }
                axios({
                    method: "get",
                    url: withTime ? "/api/data/sensor" : ("/api/data/sensor/" + sensorId),
                    params: withTime ? {sensorId: sensorId, datetime1: datetime1, datetime2: datetime2} : {}
                }).then(function (response) {
                    var result = response.data;
                    if (result.status) {
                        that.datasTable = result.data;
                        that.total = result.data.length;
                        //画曲线图
                        var xdata = [];
                        var ydata = [];
                        var datas = result.data;
                        for (var i = 0; i < datas.length; i++) {
                            xdata.push(datas[i].time);
                            ydata.push(datas[i].data);
                        }
                        //刷新曲线图
                        refrechEcharts(xdata, ydata);
                    } else {
                        that.datasTable = [];
                        that.total = 0;
                        refrechEcharts([], []);
                        that.$message({type: 'warning', message: response.data.message});
                    }
                });
            },
            //
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
            },
            //
        }
    });

    function refrechEcharts(xdata, ydata) {
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var option = {
            xAxis: {
                type: 'category',
                data: xdata
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: ydata,
                type: 'line'
            }]
        };
        myChart.setOption(option, true);
    }

    window.onload = function () {
        app.getLoginUser();
    }


</script>
</body>
</html>